<html lang="en">
<head>
   <% include ./partial/head %> 
</head>


<body>

    <!-- Navigation -->
    <% include ./partial/navigation %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/bg-about.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-8 mx-auto">
                   
                      <div  align="center"><img src="/static/img/huong.jpg" style=" border-radius: 10px;"  width="210px" height="210px">
                      </div>
                       <p><i style="text-decoration: underline; color:#0101DF; margin-left: 50px;">Ngovanhuong</i> is founder of the page. And the page is the first spiritual child with him. He is the direct manager of the page. If you has question about page then contact him. If you don't want to wait long then send message to him.<a href="https://web.facebook.com/nho.ai.9822"><i style="color: #FE2E2E;"> Ngovanhuong/facebook.com</i></a>.</p>  
                      <div  align="center"><img src="/static/img/tuyen.jpg" width="210px" height="210px" style=" border-radius: 10px;"></div>
                      <p><i style="text-decoration: underline; color:#0101DF; margin-left: 50px;">Phamquangtuyen</i> is member of the page administrator. He to be in charge of remove image and font. If you has question about page but can't contact founder then can contact him.<i style="color: #FE2E2E; text-decoration: underline;">hd.phamquangtuyen@gmail.com</i>.</p>
                      <p>We will bring you useful information and interesting experiences. We always listen to your comments.Please share your friends with our page. Thanks so much!!!</p>
                   
                
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <% include ./partial/footer %>


</body>

</html>