<html lang="en">
<head>
   <% include ./partial/head %> 
</head>


<body>

    <!-- Navigation -->
    <% include ./partial/navigation %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/bg-about.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
               <div class="navbar navbar-inverse">
                   <ul class="navbar-nav ml-auto">
                      <li><img src="/static/img/huong.jpg"></li>
                      <li><p>Ngovanhuong is founder of the website. And the website is the first spiritual child with him. He is the direct manager of the website. If you has question about website then contact him. If you don't want to wait long then send message to him.<a href="https://web.facebook.com/nho.ai.9822"> Ngovanhuong/facebook.com</a></p></li>
                   </ul>
                </div>
                <div class="navbar navbar-inverse">
                   <ul class="navbar-nav ml-auto">
                      <li><img src="/static/img/tuyen.jpg" width="210px" height="210px"></li>
                      <li><p>Phamquangtuyen is member of the website administrator. He to be in charge of remove image and font. If you has question about website but can't contact founder then can contact him. hd.phamquangtuyen@gmail.com</p></li>
                   </ul>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <% include ./partial/footer %>


</body>

</html>