<html lang="en">

<head>

    <% include ./partial/head %>

</head>

<body>

    <!-- Navigation -->
    <% include ./partial/navigation %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/bg-contact.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Contact Me</h1>
                        <span class="subheading">Have questions? I have answers.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as
                    possible!</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form name="sentMessage" id="contactForm" novalidate="">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label style="font-size: 20px">Name</label>
                            <input class="form-control" placeholder="Name" name="name" id="name" required="" data-validation-required-message="Please enter your name."
                                type="text" style="background-image: url('/static/img/icons8-contacts-26.png'); background-repeat: no-repeat; padding: 1px 20px 1px 35px; background-position: 5px 5px;">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label style="font-size: 20px">Email Address</label>
                            <input class="form-control" placeholder="Email Address" name="email" id="email" required="" data-validation-required-message="Please enter your email address."
                                type="email" style="background-image: url('/static/img/icons8-group-message-26.png'); background-repeat: no-repeat; padding: 1px 20px 1px 35px; background-position: 5px 5px;">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label style="font-size: 20px">Phone Number</label>
                            <input class="form-control" placeholder="Phone Number" name="Mnumber" id="phone" required="" data-validation-required-message="Please enter your phone number."
                                type="tel" style="background-image: url('/static/img/icons8-call-26.png'); background-repeat: no-repeat; padding: 1px 20px 1px 35px; background-position: 5px 5px;">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label style="font-size: 20px">Message</label>
                            <textarea rows="5" class="form-control" placeholder="Message" id="message" required="" data-validation-required-message="Please enter a message." style="background-image: url('/static/img/icons8-chat-26.png'); background-repeat: no-repeat; padding: 1px 20px 1px 35px; background-position: 5px 5px;"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton" style="border-radius: 10px">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <% include ./partial/footer %>

<!--javascript-->
<script type="text/javascript" src="js/form.js">
   /*$('#contactForm').submit(function(e){
    var name = document.getElementById('name'),
        email = document.getElementById('email'),
        number = document.getElementById('phone')
        message = document.getElementById('message');
    if(!name.value || !email.value || !message.value || number.value){
        alertify.error('Please check your entries')
    }else {
        $.ajax({
            url: "mailto:hd.phamquangtuyen@gmail.com?subject=Message from ",
            method:"POST",
            data: $(this).serialize(),
            dataType: "json"
        })
        e.preventDefault()
        $(this).get(0).reset()
        alertify.success('Message sent')
    }
   })*/
   /*function send() {
    var link = 'mailto:hd.phamquangtuyen@gmail.com?subject=Message from '
             +document.getElementById('email').value
             +'&body='+document.getElementById('email').value;
    window.location.href = link;
}*/
</script>
</body>

</html>

