
<html lang="en">
<head>
	 
	 <style type="text/css">
	 	.cl{
	 		height: 600px;
	 		margin-top: 200px;
	 		margin: auto;
	 		padding-top: 200px;
	 	}
	 </style>
</head>
<body>
   <div class="container cl" align="center">
   	    <div class="row">
   	    	<div class="col-md-12">
   	    		<h1 style="font-size: 3em; font-family: Times, Georgia, Serif; ">Error 404</h1>
   	    		<p>woops. Looks like this page doesn't exist.</p>
   	    	</div>
   	    </div>
   </div>
</body>
</html>